@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

body {
  margin: 0;
  font-family: system-ui, "Segoe UI", Roboto, sans-serif;
}

html.dark body {
  background-color: #111827;
  color: #f3f4f6;
}
